.body {

	min-width:1000px;
}

.division1 {

	background: url('https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-frc1/t1.0-9/400261_389546061062573_1089613841_n.jpg') no-repeat fixed center;
	background-size: cover; 

}

.div1Content {

	text-align:Center;
	margin-bottom:80px;

}

.bBackground {

	background-color:rgba(0,0,0,0.7) ; 
	padding:30px ;

}

.headerContent {

	font-size:60px ; 
	color:white ; 
	text-align:center;
	text-transform: uppercase;
	font-weight:300;

}

.headerContent p:first-child:first-letter {

	font-size: 100px;

}

.headerContent p:nth-child(2):first-letter {

	font-size: 100px;

}

.subDivsContainer {

	margin-top:85px ;

}

.subDivisions {

	padding: 7px;
	border-top: 1px solid #B2BEB5;
	border-bottom: 1px solid #B2BEB5;
	margin-right: 10px;
	color: #B2BEB5;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	font-size: 19px;

}

.subDivisions:hover {

	color: white;
	border-top: 1px solid white;
	padding-top: 12px;
	border-bottom: 1px solid;
	padding-bottom: 12px;

}

.subDivisions:hover a {

	color:white;

}

.aboutMe {

	position:relative ; 
	background-color:#E8464D;

}

.iconCircle {

	height:100px ; 
	width:100px ; 
	border-radius:100%;
	left:50% ; 
	margin-left:-50px ; 
	margin-top:-50px ; 
	z-index:1000 ; 
	position:absolute ; 

}

.iconCircle img {

	margin:25px ; 
	height:50px ; 
	width:50px ; 

}

.aboutMe .iconCircle {

	background-color:#E8464D;


}

.headerDivs {

	font-size: 45px;
	font-weight: 600;
	text-align:Center ; 
	line-height:55px;

}

.subDivContent {

	padding: 60px;
	font-size: 30px;
	color: #FFF;
	font-weight: 100;
	line-height: 45px;
	letter-spacing:1px ;
	margin-bottom:0px;

}

.iconCircle.achievements,.achievementsContent {

	background:#435A6B;

}

.iconCircle.contact {

	background:#435A6B;

}

.contactContent {

	background:#F19F0F ; 

}

.contactForm {

	float:left;

}

input,textarea {

	color:white ; 
	font-size:20px ; 
	font-weight:100; 

}

.emailSubmit {

	border:1px solid rgba(255,255,255,0.4) ; 
	background:transparent ; 
	display:block ; 
	text-transform:uppercase ; 
	font-size:20px ; 
	padding:10px ; 
	margin:0% auto ; 
	font-weight:100; 
	color:white ; 
	cursor:pointer ; 


}

.emailSubmit:hover {

	background:white ; 
	color:#F19F0F ;
	border:1px solid white;

}

::-webkit-input-placeholder {

	color:white;

}


::-ms-input-placeholder {

	color:white ; 

}

::-moz-placeholder {

	color:white ; 

}

:-moz-placeholder { 

   color: white;  

}

input:focus,textarea:focus {

	outline:none ; 
	border:1px solid rgba(255,255,255,0.7);

}

.inputLText {

	border:1px solid rgba(255,255,255,0.3) ; 
	background:transparent ; 
	height:45px ; 
	width:450px ; 
	margin-top:10px;
	display:block;
	padding:8px ;
	color:white;

}

.textAreaEMail {

	resize:none ; 
	height:200px ; 
	width:450px ;
	background:transparent; 
	border:1px solid rgba(255,255,255,0.3);
	margin-top:10px ; 
	padding:8px ;
	color:white;

}

.socialConnectContainer {

	text-align:center;

}

.rightContact {

	position:absolute ; 
	right:0 ; 
	top:50% ; 
	margin-top:-43px ;  
	width:46% ; 
	padding:15px ; 
	height:95px;


}

.contactContainer {

	padding:20px ;
	position:relative ;  

}

.contactLi {

	width:133px ;
	display:inline-block;
	background:white;
	margin-left:15px;

}

.contactLi:hover  {

	background:transparent;

}

.contactLi.twitter {

	margin-left:15px !important ; 

}

.ContactElse.facebook {

	padding:15px ; 
	background-color:rgba(59,89,152,0.8) ;

}

.ContactElse.twitter {

	padding:15px ; 
	background: rgba(0,172,237,0.8);

}

.contactLi:hover .ContactElse.twitter {

	background: rgba(0,172,237,1);

}

.contactLi:hover .ContactElse.facebook {

	background: rgba(59,89,152,1);

}


.ContactElse {

	padding:15px ; 

}

.socialLogo {

	height:25px ; 
	display:block ;
	margin:0% auto ; 

}

.orContact {

	display: INLINE-BLOCK;
	vertical-align: top;
	line-height: 57px;

}